n8n-workflows/My-workflow-35.json
{"name":"My workflow","nodes":[{"parameters":{"httpMethod":"POST","path":"github-archive","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-928,-352],"id":"0062ebe9-10c3-4886-aacb-e416c8d3bc9b","name":"Webhook","webhookId":"fa4dfee7-0a0a-41eb-b32c-1780d49b482c","alwaysOutputData":true},{"parameters":{"mode":"expression","numberOutputs":2,"output":"={{ $json.useRecentArtifact ? 0 : 1 }}"},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-608,-352],"id":"640b3b52-12dc-4990-90b3-5463092f99d8","name":"Switch"},{"parameters":{"resource":"workflow","operation":"dispatchAndWait","owner":{"__rl":true,"value":"KomarovAI","mode":"name"},"repository":{"__rl":true,"value":"web-crawler","mode":"name"},"workflowId":{"__rl":true,"value":217800454,"mode":"list","cachedResultName":"Deploy to GitHub Pages"},"ref":{"__rl":true,"value":"main","mode":"list","cachedResultName":"main"},"inputs":"={{ $json.deployInputsString }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-192,-368],"id":"11190fa2-61ff-48d2-be37-7feef568e6d2","name":"GitHub: Deploy Pages (Reuse)","webhookId":"74ff28fe-e5c7-49e2-b1a1-b58b54b51c6e","credentials":{"githubApi":{"id":"bHeqtl4yUHwCEt7q","name":"GitHub account"}}},{"parameters":{"resource":"workflow","operation":"dispatchAndWait","owner":{"__rl":true,"value":"KomarovAI","mode":"name"},"repository":{"__rl":true,"value":"web-crawler","mode":"name"},"workflowId":{"__rl":true,"value":"download-site.yml","mode":"filename"},"ref":{"__rl":true,"value":"main","mode":"name"},"inputs":"={{ $json.downloadInputsString }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-464,-288],"id":"219e9d7a-8d0a-44a0-a6c7-71136193f845","name":"GitHub: Download Site","webhookId":"5ad01eab-8d74-416f-816c-0801c7cad0bb","credentials":{"githubApi":{"id":"bHeqtl4yUHwCEt7q","name":"GitHub account"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const payload = $input.item.json.body;\n\n// Валидация\nconst url = String(payload.url || '').trim();\nif (!url) throw new Error('url is required');\n\nconst maxPages = String(payload.max_pages || '500').trim();\nconst maxPagesNum = parseInt(maxPages, 10);\nif (isNaN(maxPagesNum) || maxPagesNum < 1 || maxPagesNum > 5000) {\n  throw new Error(`max_pages must be 1-5000, got ${maxPages}`);\n}\n\nconst outputDir = String(payload.output_dir || 'site_archive').trim();\n\n// ✅ Возвращаем плоскую структуру для GitHub\nreturn {\n  url: url,\n  output_dir: outputDir,\n  max_pages: String(maxPagesNum),\n  // Для GitHub API - JSON строка\n  downloadInputsString: JSON.stringify({\n    url: url,\n    output_dir: outputDir,\n    max_pages: maxPagesNum\n  })\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-768,-352],"id":"3d8d6898-e0d5-4902-b510-a1b158f4e8fe","name":"прическа перед отправкой"},{"parameters":{"jsCode":"const payload = $json;\n\nconsole.log('GitHub Callback Payload:');\nconsole.log(JSON.stringify(payload, null, 2));\n\nconst sourceRunId = String(payload.run_id || '');\nconst targetRepo = 'KomarovAI/archived-sites';\n\nconsole.log('sourceRunId:', sourceRunId);\nconsole.log('targetRepo:', targetRepo);\n\nif (!sourceRunId) {\n  throw new Error('run_id not found in GitHub callback');\n}\n\nconst deployInputs = {\n  source_run_id: sourceRunId,\n  artifact_name: `site-archive-${sourceRunId}`,\n  target_repo: targetRepo,\n  clean_warc: 'true',\n  rewrite_links: 'true'\n};\n\nconsole.log('DEPLOY INPUTS:');\nconsole.log(JSON.stringify(deployInputs, null, 2));\n\nreturn {\n  deployInputsString: JSON.stringify(deployInputs),\n  run_id: sourceRunId,\n  status: 'ready_to_deploy'\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-320,-288],"id":"be8e7046-e60c-4e40-ac3e-5f2c50c5ff09","name":"Code in JavaScript"}],"pinData":{},"connections":{"Webhook":{"main":[[{"node":"прическа перед отправкой","type":"main","index":0}]]},"Switch":{"main":[[{"node":"GitHub: Deploy Pages (Reuse)","type":"main","index":0}],[{"node":"GitHub: Download Site","type":"main","index":0}]]},"GitHub: Download Site":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"прическа перед отправкой":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"GitHub: Deploy Pages (Reuse)","type":"main","index":0}]]}},"active":true,"settings":{"executionOrder":"v1"},"versionId":"8198792f-89a1-405b-b977-b0c9e5b9d4b7","meta":{"templateCredsSetupCompleted":true,"instanceId":"9b6765c4618cf0eec0aa5a655a31c9bda293d1c68fa702fed75f0c33b3b7d4b6"},"id":"TfMVrgq7rOqSmWh3","tags":[]}